[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=QtDrumkit
Exec=/opt/QtDrumkit/bin/QtDrumkit
Icon=QtDrumkit
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
