[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=QtDrumkit
Exec=invoker --type=e --single-instance /opt/QtDrumkit/bin/QtDrumkit
Icon=/usr/share/icons/hicolor/80x80/apps/QtDrumkit80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
